.mint-header {
    font-size: 15px;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    color: #081351;
}
.mint-msgbox-btns button {
    font-size: 12px;
}

.mint-msgbox-wrapper-chaincoin {
    .mint-msgbox {
        background-color: #f4f5f9;
        padding: 16px 0;
    }
    .mint-msgbox-title {
        font-size: 16px;
        font-weight: normal;
        color: #525377;
    }
    .mint-msgbox-message {
        color: #525377;
        font-size: 13px;
    }
    .mint-msgbox-content {
        border: none;
    }
    textarea,
    input {
        width: 100%;
        font-size: 16px;
        height: 1.5em;
    }
    .mint-msgbox-btns {
        padding: 0 20px;
    }
    .mint-msgbox-btn {
        height: 36px;
        width: 100px;
        line-height: 36px;
    }
    .mint-msgbox-cancel,
    .mint-msgbox-confirm {
        margin: 0 8px;
        border: none;
        border-radius: 5px;
    }
    .mint-msgbox-cancel {
        background-color: #d6edfe;
    }
    .mint-msgbox-confirm {
        background-color: #5d82ff;
        color: #fff;
    }
}

.mint-indicator {
    .mint-spinner-fading-circle {
        width: 32px!important;
        height: 32px!important;
    }
    .mint-indicator-wrapper {
        padding: 20px!important;
    }
}

.mint-button--primary {
    background-color: #5d82ff;
}