.mint-msgbox-btns button {
    font-size: 11px;
}

.mint-msgbox-wrapper-dark {
    .mint-msgbox {
        background-color: #2a3452;
    }
    .mint-msgbox-title {
        color: #a6abba;
    }
    .mint-msgbox-message {
        text-align: left;
    }
    .mint-msgbox-cancel {

    }
    .mint-msgbox-btns {
        
    }
}